*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size:18px;
    color:black;
}
.displayFlex{
    display:flex;
}
.bold{
    font-weight: bold;
}
.blue {
    color: #2982ed;
}
.red{
    color: #810000;
}
html, body{
    height:100%;
}
body #main-container{
    min-height:100%;
    max-height: 100%;
    width: 100%;
    background-color: dimgrey;
    overflow: auto;
}
.container{
    width:90%;
    margin:0 auto;
}
#main-title{
    padding-top:20px;
    text-align: center;
    color:gold;
    font-size:2.5em;

}
.log-reg{
    width: 100%;
    background-color: #332a26;
    padding:10px;
    margin-top: 20px;
}
.log-reg .container.logreg-nav{
    justify-content: flex-end;
}
.logreg-nav .username, .password{
    width:150px;
    padding: 0 5px;
}
.logreg-nav .password{
    margin: 0 5px;
}
.logreg-nav .userLogin, .userSignup{
    padding: 5px 10px;
    margin-right:5px;
    border: none;
    border-radius: 10px;
    background-color: #ff791a;
}
.nav-menu{
    background-color: #da6d3c;
}
#menu{
    padding:5px;
    height:55px;
    border-left: 1px dotted bisque;
    border-right: 1px dotted bisque;
    justify-content: space-between;
    align-items: center;
}
#menu .menu-left{
    height:100%;
    text-align: center;
}
.menu-left, .menu-right {
    margin:0 5px;
}
.menu-left{
    justify-content: space-between;
}
.list1, .list2, .list3 {
    width:70px;
    cursor: pointer;
    color: gold;
}
.menu-left .list1, .list2{
    margin-right:5px;
}

.input-Search{
    margin-left: 5px;
    border:1px solid black;
    border-radius: 10px;
    padding:5px 50px;
    background-color: #ff791a;
    font-weight: bold;
    cursor: pointer;
}
.input-Field{
    width:300px;
    border:1px solid black;
    border-radius: 10px;
    padding:5px 10px;

}
#main-body{
    background-color: rgba(255,228,196,0.8);
    justify-content: space-between;
    flex-wrap: wrap;

}

#main-body > div p{
    display:block;
    width:100%;
    text-align: left;
}
#main-body > div p.rate{
    text-align: center;

}

#main-body > div p.rate > span{
    font-size: 22px;
}
.divImg{
    padding: 10px;
    width: 250px;
    height: 250px;

}
.img {
    width: 100%;
    height : 100%;
    object-fit : contain;
    border-radius: 20px;
    border: 1px dotted blue;
}

#input-select{
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
}